body {
    height: 100%;
    background-color: #F0EFF2;
}

.content {
    margin: 0 auto;
    text-align: center;
    width: 900px;
}

.title {
    display: flex;
    margin-top: 90px;
    margin-bottom: 55px;
    text-align: left;
}

.image {
    margin-top: 17px;
}

h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;

}

table {
    border-collapse: collapse;
    margin-bottom: 30px;

    height: 450PX;
    background-color: #fff;
    border-radius: 10px;
    table-layout: fixed;

}

tr {
    height: 90px;
}

th,
td {
    padding: 10px;
    vertical-align: middle;
    border-bottom: 2px solid #e1e1e1;

}

.data-label,
.data-item {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;

}

.name,
.time-in,
.reason {
    margin-left: 26px;
}

.date-wrapper {
    display: flex;
    align-items: center;
    width: 320px;
}

.year {
    margin-left: 26px;
}
.day {
    margin-left: 10px;
}
.date-space {
    flex-grow: 1;
    
}

.data-label {
    color: #737373;
    width: 250px;

}

.work {
    margin-left: 40px;
}

.data-item {
    width: 650px;
    text-align: justify;
    padding-left: 100px;
}

.time-wrapper {
    display: flex;
    align-items: center;
    width: 320px;
}

.time-separator {
    flex-grow: 1;
    text-align: center;
}
.button {
    text-align: right;
}

.approve-btn,
.ok-btn {
    width: 130px;
    height: 50px;
    border-radius: 5px;
    color: #fff;
    font-family: Inter;
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
    border: none;
}
.approve-btn {
    background-color: #000;
}
.ok-btn {
    background-color: #696969;
}
.attention {
    font-family: Inter;
    font-weight: 800;
    font-size: 18px;
    color: rgba(255, 0, 0, 0.5);
    text-align: right;
    margin-bottom: 120px;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .content {
        width: 90%;
    }

    .data-label {
        width: 20%;
    }

    .data-item {
        width: 50%;
    }

    .approve-btn ,
    .ok-btn{
        width: 20%;
        font-size: 20px;
    }
    .attention {
        font-size: 16px;
    }
}