body {
    height: 100%;
    background-color: #F0EFF2;
}

.content {
    margin: 0 auto;
    text-align: center;
    width: 900px;
}

.title {
    display: flex;
    margin-top: 90px;
    margin-bottom: 55px;
    text-align: left;
}

.image {
    margin-top: 17px;
}

h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;

}
table {
    border-collapse: collapse;
    margin-bottom: 30px;
    height: 450PX;
    background-color: #fff;
    border-radius: 10px;
    table-layout: fixed;

}
tr {
    height: 90px;
}
th, td {
    padding: 10px;
    vertical-align: middle;
    border-bottom: 2px solid #e1e1e1;

}
.data-label,
.data-item {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    
}  
.name {
    margin-left: 26px;
} 
.date-wrapper {
    display: flex;
    align-items: center;
    width: 320px;
}
.year {
    margin-left: 26px;
}
.date-space {
    flex-grow: 1;
}

.data-label {
    color: #737373;
    width: 250px;
}
.date {
    margin-right: 23px;
}
.work {
    margin-left :40px;
}
.data-item {
    width: 650px;
    text-align: justify;
    padding-left: 100px;
}

.time-wrapper {
    display: flex;
    align-items: center;
    width: 320px;
}
.time-separator {
    flex-grow: 1;
    text-align: center;
}
input {
    width: 103px;
    height: 29px;
    border-radius: 4px;
    border: 1px solid #E1E1E1;
    
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;

}
.date-input {
    border: none;
    text-align: center;
}
.time-input {
    text-align: center;
}
.reason-input {
    width: 316px;
    height: 72px;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
   
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    
}
.button {
    text-align: right;
    margin-top: 56px;
    margin-bottom: 60px;
}

.edit-btn {
    width: 184px;
    height: 50px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-family: Inter;
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
    border: none;
}
.form_error {
    color: red;
}
@media screen and (min-width: 768px) and (max-width: 850px) {
    .content {
        width: 90%;
    }
    .data-label {
        width: 20%;
    }    
    .data-item {
        width: 50%;
    }
    
    .edit-btn {
        width: 20%;
        font-size: 20px;
    }
}