body {
    height: 100%;
    background-color: #F0EFF2;
}

.content {
    margin: 0 auto;
    text-align: center;
    width: 900px;
}

.title {
    display: flex;
    margin-top: 78px;
    margin-bottom: 65px;
    text-align: left;
}
.image {
    margin-top: 17px;
}
h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;

}
.top-content {
    margin-top: 60px;
    border-bottom: 1px solid #000000;
}

.top-content ul {
    display: flex;
}

.top-content li {
    list-style: none;
}

.top-content li a {
    text-decoration: none;
    margin-left: 20px;
}

.top-content li:nth-child(2) a {
    margin-left: 100px;
}
.tab-link {
    font-family: Inter;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}
.tab-link:hover {
    color:#555;
}
.active-tab {
    color: #007BFF;
    font-weight: 700;
    font-size: 18px;
}
table {
    border-collapse: collapse;
    margin-bottom: 30px;
}
th,
td {
    padding: 5px 0;
}
.under-content {
    width: 900px;
    margin: 0 auto 170px;
    text-align: center;
    margin-top: 46px;
    background-color: #fff;
    border-radius: 10px;

}
.data-label,
.data-item {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    color: #737373;
}
.data-label {
    border-bottom: 3px solid #E1E1E1;
}

.data-item {
    border-bottom: 2px solid #E1E1E1;
}

.data-link {
    text-decoration: none;
    color: #000;
}
@media screen and (min-width: 768px) and (max-width: 850px) {
    .content {
        width: 90%;
    }

    .title {
        margin-left: 5%;
    }

    .top-content {
        width: 100%;
    }

    .under-content {
        width: 100%;
    }
}