body {
    height: 100%;
    background-color: #F0EFF2;
}
.content {
    margin: 0 auto;
    text-align: center;
    width: 900px;
}
.title {
    display: flex;
    margin-top: 90px;
    margin-bottom: 47px;
    text-align: left;
}
h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;
       
}
.top-content {
    width: 900px;
    height: 60px;
    margin: 0 auto ;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}
.months {
    display: flex;
    justify-content: space-between;
}
.month-link {
    display: inline-block;
    font-size: 16px;
    color: #737373;
    text-decoration: none;
    font-family: Inter;
    font-weight: 700;
    margin-top: 17px;
}
.last-month,
.this-month,
.next-month {
    display: flex;
    justify-content: center;
    
}

.this-month {
    font-family: Inter;
    font-size: 20px;
}

.image {
    margin-top: 13px;
}
.img {
    margin-top: 7px;
}
.date {
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
}
table {
    border-collapse: collapse;
    margin-bottom: 30px;
}
.under-content {
    width: 900px;
    margin: 46px auto 110px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}
th,
td {
    padding: 5px 0;
}
.data-label,
.data-item {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    color: #737373;
}
.data-label {
    border-bottom:3px solid #E1E1E1;
}

.data-item {
    border-bottom:2px solid #E1E1E1;
}
.data-link {
    text-decoration: none;
    color: #000;
}
.button {
    text-align: right;
}
.csv-btn {
    width: 184px;
     height: 50px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-family: Inter;
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;   

}
@media screen and (min-width: 768px) and (max-width: 850px) {
    .content {
        width:90% ;
    }
    .title {
        margin-left: 5%;
    }
    
    .top-content {
        width: 90%;
    }
    .under-content {
        width: 90%;
    }
    .button {
        margin-right: 5%;
    }
    .csv-btn {
        width: 20%;
        font-size: 20px;
        cursor: pointer;
    }
}