 body { 
    height: 100%;
    background-color: #F0EFF2;
}

.content {
    margin: 0 auto;
    text-align: center;
    width: 900px;
}

.title {
    display: flex;
    margin-top: 126px;
    margin-bottom: 98px;
    text-align: left;
}

.image {
    margin-top: 17px;
}

h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;

}
table {
    border-collapse: collapse;
    margin: 0 auto 320px;
    background-color: #fff;
    border-radius: 10px;
    table-layout: fixed;
}

th,
td {
    padding: 5px 0;
}


.data-label,
.data-item {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    color: #737373;
}

.data-label {
    border-bottom: 3px solid #E1E1E1;
}

.data-item {
    border-bottom: 2px solid #E1E1E1;
}

.data-link {
    text-decoration: none;
    color: #000;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .content {
        width: 90%;
    }
}