.header-nav {
    display: none;
}

.content {
    width: 730px;
    margin: 0 auto;
    text-align: center;
    margin-top: 240px;
}

p {
    font-size: 24px;
    font-family: Intel;
    font-weight: 700;
}

p:first-of-type {
    margin-bottom: 0;
}

p:nth-of-type(2) {
    margin-top: 0;
}

.verify-btn {
    display: block;
    text-decoration: none;
    width: 257px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #d9d9d9;
    font-size: 24px;
    font-family: Intel;
    font-weight: 700;
    align-items: center;
    color: #000;
    padding-top: 20px;
    margin-top: 60px;
    margin-left: 210px;
}

.btn-primary {
    display: block;
    font-size: 20px;
    font-family: Intel;
    font-weight: 400;
    color: #0073cc;
    width: 257px;
    height: 50px;
    padding-top: 20px;
    background-color: #fff;
    border: none;
    margin: 52px 0 368px 210px;
}